<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CurrentLanguage>en</CurrentLanguage>
  <Language>English</Language>
  <SerialPortName>COM1</SerialPortName>
  <SerialPortSpeed>115200</SerialPortSpeed>
  <IOInterface>Serial</IOInterface>
  <DatabaseServerHost>localhost</DatabaseServerHost>
  <DatabaseConnectionPort>5432</DatabaseConnectionPort>
  <Licences>
    <DeviceLicences />
  </Licences>
</Settings>